-- DropForeignKey
ALTER TABLE "TravelRequest" DROP CONSTRAINT "TravelRequest_employeeId_fkey";

-- DropForeignKey
ALTER TABLE "CourseEnrollment" DROP CONSTRAINT "CourseEnrollment_employeeId_fkey";

-- DropForeignKey
ALTER TABLE "FnfSettlement" DROP CONSTRAINT "FnfSettlement_employeeId_fkey";

-- DropForeignKey
ALTER TABLE "ExitRequest" DROP CONSTRAINT "ExitRequest_companyId_fkey";

-- DropForeignKey
ALTER TABLE "ExitRequest" DROP CONSTRAINT "ExitRequest_employeeId_fkey";

-- DropForeignKey
ALTER TABLE "ExitChecklist" DROP CONSTRAINT "ExitChecklist_exitRequestId_fkey";

-- DropIndex
DROP INDEX "Integration_companyId_provider_key";

-- AlterTable
ALTER TABLE "Company" DROP COLUMN "geofenceLat",
DROP COLUMN "geofenceLng",
DROP COLUMN "geofenceRadius";

-- AlterTable
ALTER TABLE "AttendanceLog" DROP COLUMN "isWithinGeofence",
DROP COLUMN "regularizationNote",
DROP COLUMN "regularizationStatus";

-- AlterTable
ALTER TABLE "Asset" DROP COLUMN "condition",
DROP COLUMN "name",
DROP COLUMN "purchaseDate",
DROP COLUMN "purchasePrice",
DROP COLUMN "serialNumber",
DROP COLUMN "warrantyUntil";

-- AlterTable
ALTER TABLE "AssetAssignment" DROP COLUMN "notes";

-- AlterTable
ALTER TABLE "ShiftAssignment" DROP COLUMN "rosterWeek",
DROP COLUMN "weekDay";

-- DropTable
DROP TABLE "FnfSettlement";

-- DropTable
DROP TABLE "ExitRequest";

-- DropTable
DROP TABLE "ExitChecklist";

